@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--primary-color: #3a7bfd;
	--check-color: linear-gradient(to left, #57ddff, #c058f3);

	/* Light Theme Colors */
	--very-light-gray: #fafafa;
	--very-light-grayish-blue: #e4e5f1;
	--light-grayish-blue: #d2d3db;
	--dark-grayish-blue: #9394a5;
	--very-dark-grayish-blue: #484b6a;

	/* Dark Theme Colors */
	--very-dark-blue: #161722;
	--very-dark-desaturated-blue: #25273c;
	--light-grayish-blue-dark: #cacde8;
	--light-grayish-blue-hover: #e4e5f1;
	--dark-grayish-blue-dark: #777a92;
	--very-dark-grayish-blue-dark1: #4d5066;
	--very-dark-grayish-blue-dark2: #393a4c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
	line-height: 1.5;
}

body {
	background-color: var(--very-light-gray);
}

header {
	background: url("./images/bg-mobile-light.jpg") no-repeat center/cover;
	height: 17rem;
	padding: 3rem 1.5rem;
	z-index: 1;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

header h1 {
	color: white;
	letter-spacing: 1rem;
}

header button {
	background-color: transparent;
	border: none;
}

.todo-input {
	display: flex;
	align-items: center;
	background-color: white;
	margin-top: 3rem;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.todo-input input[type="checkbox"] {
	-webkit-appearance: none;
	margin-right: 1rem;
	width: 30px;
	height: 27px;
	appearance: none;
	border: 2px solid #ccc;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.todo-input input[type="text"] {
	border: none;
	outline: none;
	width: 100%;
	font-size: 16px;
	color: var(--very-dark-grayish-blue-dark2);
	background-color: transparent;
}

.todo-input input[type="text"]::placeholder {
	color: #aaa;
}

main {
	width: 88%;
	max-width: 500px;
	margin: 20px auto;
	margin: -50px auto 0;
	z-index: 2;
}

ul.todo-list {
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul.todo-list li {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 15px 24px;
	border: 1px solid var(--light-grayish-blue);
}

ul.todo-list li:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.todo-list li .todo-text {
	flex-grow: 1;
	margin-left: 10px;
}

ul.todo-list li .delete-btn {
	display: flex;
	background: none;
	border: none;
	font-size: 20px;
	color: hsl(236, 9%, 61%);
	cursor: pointer;
}

.todo-item {
	transition: all 0.2s ease;
}

.dragging {
	opacity: 0.5;
}

.drag-over {
	border: 2px dashed #000;
}

.todo-checkbox:checked + .todo-text {
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
}

.todo-list input[type="checkbox"] {
	-webkit-appearance: none;
	margin-right: 1rem;
	width: 28px;
	height: 28px;
	appearance: none;
	border: 2px solid #ccc;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.todo-list input[type="checkbox"]:checked {
	background-image: url("./images/icon-check.svg"), var(--check-color);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%, cover;
}

.todo-footer {
	background-color: white;
	border: 1px solid var(--light-grayish-blue);
	border-radius: 0 0 10px 10px;
	display: flex;

	justify-content: space-between;
	align-items: center;
	padding: 15px 24px;
	color: hsl(236, 9%, 61%);
}

.filters {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-top: 1.2rem;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
}

.active {
	color: var(--primary-color) !important;
}

.filters .filter {
	background: none;
	border: none;
	font-weight: bolder;
	margin: 0 0.5rem;
	color: var(--dark-grayish-blue);
	cursor: pointer;
	font-size: 14px;
}

.todo-footer .clear-completed {
	background: none;
	border: none;
	color: var(--dark-grayish-blue);
	cursor: pointer;
}

.todo-footer .items-left {
	font-size: 14px;
}

.drag-drop {
	text-align: center;
	margin-top: 3rem;
	color: var(--dark-grayish-blue);
}
